<h2>Messages - (Kendo Sample Grid)</h2>
<div>
<kendo-grid [data]="packages" [height]="410" style="text-align: center;">
        <kendo-grid-column field="{{colNamesProperty[2].fieldName}}" title="Item Type" width="133">
        </kendo-grid-column>
        <kendo-grid-column  field="{{colNamesProperty[1].fieldName}}" title="Item Name" width="133">
        </kendo-grid-column>
        <kendo-grid-column field="{{colNamesProperty[3].fieldName}}" title="Template" width="133">
        </kendo-grid-column>
        <kendo-grid-column field="{{colNamesProperty[4].fieldName}}" title="Date" width="133">
        </kendo-grid-column>
        <kendo-grid-column field="{{colNamesProperty[5].fieldName}}" title="Total/Sent" width="133">
        </kendo-grid-column>
        <kendo-grid-column field="{{colNamesProperty[6].fieldName}}" title="Status" width="133">
        </kendo-grid-column>
    </kendo-grid>
</div>